
/* titulos */
.titulos-login{font-size: 30px;padding: 20px;}
.titulos-login-cadastro{font-size: 18px;padding: 5px;float: right;}


/*forms-cadastro*/
#container-forms{background-color: white;border-radius: 33px; width: 450px;height: 360px;margin-top: 7em;margin-left: auto; margin-right: auto;}
.forms{padding: 50px;padding-top: 0px;}
#contato{height: 700px;margin-bottom: 0px; margin-top: 0px;}
#title-forms{color:white;}
#texto-contato{margin-top: 100px; margin-left: 100px;}
#btn-form{background-color:#ff5e57; border-radius:25px; width: 100%;font-size:20px;color: white;}
.form-label {
	font-size: 18px;
    color: black;
    float:left;
}


